extends layout

block styles
  link(rel='stylesheet', href='/css/index.css')

block content
  .vitrine-page
    each contentBlock in blocks
      case contentBlock.type
        when 'header'
          include components/header
        when 'actus', 'offres'
          include components/content-section
        when 'footer'
          include components/footer
    
    include components/card-modal
    include components/auth-fab

block scripts
  script(src='/js/index.js')